/* GENERAL */
.html, body {
    font-family:'Raleway', Arial, Helvetica, sans-serif;
    margin: 1%;
}

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.flexColumnBetween {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.decorationNone {
    text-decoration: none;
}
.bordureNone {
    border: none;
}
.texteGras {
    font-weight: bolder;
}
.colorBleu {
    color:#0065FC;
}
.colorBleuClair {
   color: #DEEBFF; 
}
.colorGris {
    color:#F2F2F2;
}
.backBleu {
    background-color:#0065FC;
}
.backBleuClair {
   background-color: #DEEBFF; 
}
.backGris {
    background-color:#F2F2F2;
}

/* NAV*/
.sizeNav {
    height: auto;
}

.sizeLiens {
    width: 100%;
}
.sizeLien1_2 {
    margin-left: 60%;
}
.sizeLien {
    width: 140px;
    height: 99px;
}
.colorLien2 {
    color: black;
}
.bordureNav {
    border-top: 1px solid transparent;
}
.bordureNav:hover {
    border-top: 1px solid #0065FC;
    cursor: pointer;
}
.bordureNav:hover > a{
   color: #0065FC;
}
.margLogo {
    margin-bottom: 7px;
}
.margImgLogo {
    width: 120px;
    height: 50px;
}

/* HEADER*/
.desktopMode {
    visibility: hidden;
}
.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #F2F2F2;
}
.paddingSearch {
    padding-left: 20px;
}
.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.buttonSearch {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    border: none;
}
.buttonSearch:hover {
    color:#0065FC;
    background-color: #F2F2F2;
}
/* Filtres*/
.FiltreMarg {
    margin-top: 25px;
    margin-bottom: 20px;
}
.filtre {
    display: flex;
    align-items: center;
}
.FiltreTitreMarg {
    margin-right: 20px;
}

.filtreIconsTexte {
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtreIconsTexte:hover > .filtreTexte {
    color: #0065FC;
}
.filtreIconsTexte:hover > .filtreIcons {
 color: white;
 background-color:#0065FC;
}
.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
}
.filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #DEEBFF;
}

/* info*/
.info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.parentIcon {
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 5px;
}
/* HÉRBERGEMENTS*/
.sizeHérbergements {
    flex: 2;
    height: 600px;
    margin-right: 20px;
    border-radius: 10px;
}
.blocHérbergements {
    padding-left: 20px;
    padding-right: 20px;
}
.bloc1 {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bloc2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cubeDetailsHérbegerment {
    width: 90%;
    
}
.margTexteHérbegement {
    line-height: 2px;
    padding-left: 10px;
}
.cubeHérbergement {
    width: 30%;
    height: 200px;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}
.cubeHérbergement:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.imgHérbergement {
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.texteHerbergement {
   height: auto;
   width: auto;
    
}

/* Populaire*/
.sizePopulaire {
    flex: 1;
    height: 600px;
    margin-left: 10px;
    border-radius: 10px;
}
.MargTextePop {
    line-height: 2px;
    padding-bottom: 40px;
}

.blocPopulaire {
    padding-left: 20px;
    padding-right: 20px;
}
.blocPopulaire1_2 {
    margin-bottom: 20px;  
    
}
.cubePopulaire {
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;  
}

.cubePopulaire:hover {
   cursor: pointer;
   transform: scale(1.05);
}
.cubeDetailsPopulaire {
    width: 60%;
    padding-left: 5%;  
}
.imgPopulaire {
    width: 40%;
    height: 150px;
    border-radius: 15px 0 0 15px;
}
.TitrePop {
    padding-top: 20px;
}


/* Activities*/
.Activites {
margin-top: 50px;
margin-bottom: 50px;
}
/*reglage en hauter*/
.blocActivites {
    width: 100%;
    height: 400px;
}
.blocActivites2_3_5_6 {
    width: 23%;
    height: 400px;
    
}
.imgActivitesG {
    width: 100%;
    height: 330px;
    border-radius: 15px 15px 0 0 ;
}
.imgActivitesM {
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0 ;
    
}
.imgActivitesP {
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0 ;
}

/*reglage de bloc*/

.titreActivites {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}
/* reglage bloc*/
.cubeActivites {
width: 23%;
border-radius: 15px;
box-shadow: 5px 5px 5px 1px #DEEBFF;
}
.cubeActivites:hover {
   cursor: pointer;
   transform: scale(1.03);
}    
.cubeActivites2_3_5_6 {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #DEEBFF; 
}
.cubeActivites2_3_5_6:hover {
cursor: pointer;
transform: scale(1.03);
}


/* FOOTER*/
.footer {
    height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerBlocTaille {
    height: 150px;
}
.margFootBloc1 {
    margin-left: 5%;
}
.margFootBloc3 {
    margin-right: 25%;
}
.footLien {
    color: black;
}
.divfootLien {
    height: 30px;
}

/* MODE RESPONSIVE */

@media screen and (max-width: 1295px) {
    .sizelien1_2 {
        margin-left: 35%;
    }
    .cubeDetailsHérbegerment {
        min-height: 120px;
    }
    .sizeHérbergements {
        min-height: auto;
        padding: 20px;
    }
    .sizePopulaire {
        min-height: auto;
        padding: 20px;
    }
    .TitrePop {
        margin-top: 0%;
    }
}
@media screen and (max-width: 990px) {
   
    .mobileFiltreWrap {
    flex-direction: column;
    align-items: flex-start;
    }
    .filtreIconsTexte {
        margin-bottom: 20px;
    }
    #hérbergements {
        flex-direction: column-reverse;
        width: 100%;
    }
    .blocPopulaire {
        flex: none;
        width: 90%;
        margin-left: 0%;
        padding: 5%;
    }
    .blocHérbergements {
        flex: none;
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
    } 
}

@media screen and (max-width:770px) {
    html, body {
       margin: 0;
       padding: 0;
       width: 100%;
   }
   .FiltreMarg {
       padding-left: 5%;
   }
   .margMobileNav {
       padding-left: 5%;
   }
   .margLogo {
       padding-left: 5%;
   }
   .info {
       margin-left: 5%;
   }
   .parentIcon {
       margin-bottom: 5%;
   }
   .bordureSearch {
       margin-left: 5%;
   }
   .sizeLien {
       height: 80px;
   }
   .sizeLiens {
           width: 90%;
    }
   .sizeLien1_2 {
       margin-left: 20%;
   }   
   
   .blocHérbergements {
       height: auto;
   }
   .bloc1 {
       flex-direction: column;
       margin-bottom: 0;
   }
   .bloc2 {
      flex-direction: column;
      margin-top: 0;
   }
   .cubeHérbergement {
       width: 100%;
       margin-bottom: 50px;
       box-shadow: 5px 5px 5px 1px #F2F2F2;
   }
   .cubeDetailsHérbegerment {
       min-height: auto;
   }
   .blocHérbergements {
       background-color: white;
      }
    .blocActivites {
        flex-direction: column;
        height: auto;
    }
    .cubeActivites {
        width: 100%;
        margin-bottom: 50px;
    }
    .blocActivites2_3_5_6 {
        width: 100%;
        height: auto;
    }
  .cubeActivites2_3_5_6 {
      margin-bottom: 50px;
  }
  .imgActivitesG, .imgActivitesM, .imgActivitesP {
      height: 200px;
  }
   .footer {
       height: auto;
       flex-direction: column;
       align-items: flex-start;
       padding-left: 20px;
   }
   .margFootBloc1 {
       margin-left: 0%;
   }
 }

@media screen and (max-width: 600px) {
html, body {
margin: 0;
padding: 0;
width: 100%;
}
.margImgLogo {
    width: 100px;
    height: 30px;
}
.FiltreMarg {
    padding-left: 5%;
}
.margMobileNav {
    padding-left: 5%;
}
.margLogo {
    padding-left: 5%;
}
.info {
    margin-left: 5%;
}
.parentIcon {
    margin-bottom: 5%;
}
.margMobileActivités {
    padding-left: 7%;
}
.sizeLien {
    flex-direction: row;
}

.sizeLien1_2 {
    order: 1;
    width: 100%;
    margin-left: 0; 
}
.sizelienMobile {
    width: 50%;
    border-top: none;
    border-bottom: 2px solid #F2F2F2;
    
}
.sizeLiens {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
}
.sizelienMobile:hover {
    border-top: 0;
    border-bottom: 5px solid #0065FC;
}

.bordureSearch {
    width: 350px;
    border-radius: 10px;
    border: 0.5px solid #F2F2F2;
    margin-left: 5%;

}
.recherche {
    height: 50px;
    width: 250px;
    
}
.buttonSearch {
    height: 50px;
    width: 50px;
    border-radius: 15px;  
}
.buttonSearch i {
    visibility: visible;
}
.mobileMode {
    display: none;
}
.sizeHérbergements {
margin-top: 10px;
}

.blocHérbergements {
 background-color: white;

}
.margMobileHérbergement {
    margin-left: 15px;
   
}
.cubeHérbergement {
 box-shadow: 3px 3px 3px 3px #F2F2F2;
 margin-left: 30px;
 margin-bottom: 20px;
 
}
.cubeDetailsHérbegerment {
    margin-left: 10px;
    
}
.blocPopulaire1_2 {
    margin-bottom: 10px;
}

.blocPopulaire {
  border-radius: 0;
  padding-left: 22%;
   
}
.sizePopulaire {
    height: auto;
    width: 100%;
    margin-left: 5px;
    padding-right: 50px;
     
}
.TitrePop {
    margin-left: 20px;
    padding-top: 15px;
}
.Activites {
    margin-top:  20px;
}

.cubeActivites {
    margin-left: 8%;
    width: 100%;
    margin-bottom: 20px;
}
.cubeActivites2_3_5_6 {
    margin-left: 5%;
    width: 100%;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    padding-right: 50px;
    padding-top: 30px;
    margin-top: 30px;   
}

}
   